html, body {
    padding: 0px;
    margin: 0px;
}

#map {
    float:  left;
    width:  70%;
    height: 100%;
}


#prompt {
    padding-top: 10px;
    float:  right;
    width:  29%;
    height: 100%;
}
