{% for leg in legs %}
<div class="leg">
    <b>{{leg.name}}</b><br />
    <ul>
{% for membership in leg.memberships %}
    {% if membership.organization.classification in ['upper', 'lower', 'legislature'] %}
    <li>
    {% if membership.label %}{{membership.label}}{% else %}Member{% endif %}
    of
    {{membership.organization.name}}.
    {% if membership.post %}
        ({{membership.post.role}} for {{membership.post.label}})
    {% endif %}
    {% if membership.start_date %}
    From {{membership.start_date}} -- {{membership.end_date}}
    {% endif %}
    </li>
    {% endif %}
{% endfor %}
    </ul>
</div>
{% endfor %}
